<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
   </head>
   <body>
      <div>
       <p>Your password has been reset</p>
      </div>
    </body>
</html>
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
	</head>
	<style>
		table {
			border: 1px solid !important;
			border-collapse: collapse !important;
		}

		td,
		th {
			padding: 5px;
			border-collapse: collapse !important;
			border: 1px solid !important;
		}

		.text-uppercase {
			text-transform: uppercase;
		}
	</style>

	<body style="text-align: left">
		<table style="border-spacing: 0; width: 50rem">
			<tr style="height: 56pt">
				<td style="vertical-align: middle; background-color: rgb(178, 29, 172); padding: 5pt; overflow: hidden">
					<p dir="ltr" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt">
						<span style="font-size: 11pt; font-family: Arial; color: rgb(255, 255, 255); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
							><span style="border: none; display: inline-block; overflow: hidden; width: 54px; height: 54px"
								><img src="https://storage.googleapis.com/workflow-tool-static-resources/EWN-Note.png" width="41" height="54" style="margin-left: 0px; margin-top: 0px" class="CToWUd" /></span
						></span>
					</p>
				</td>
				<td style="vertical-align: middle; background-color: rgb(178, 29, 172); overflow: hidden">
					<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
						<span style="font-size: 18pt; font-family: Arial; color: rgb(255, 255, 255); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline"
							>PASSWORD RESET SUCCESSFUL</span
						>
					</p>
				</td>
				<td style="vertical-align: top; background-color: rgb(178, 29, 172); overflow: hidden">
					<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
						<span style="font-size: 11pt; font-family: Arial; color: rgb(255, 255, 255); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
							><span style="border: none; display: inline-block; overflow: hidden; width: 26px; height: 37px"
								><img alt="N-Element-Tab-White_RGB.png" src="https://storage.googleapis.com/workflow-tool-static-resources/N-Element-Tab-White_RGB.png" width="26" height="37" style="margin-left: 0px; margin-top: 0px" class="CToWUd" /></span
						></span>
					</p>
				</td>
			</tr>
		</table>
		<div style="width: 50rem">
			<p>
				Password for your CI Central v2 account was reset successfully.</p>
			</div>
			<hr/>
		</div>
	</body>
</html>
